.header-heading-text {
  margin-left: 9px;
}
.cart-link {
  margin-left: 8px;
  margin-right: 8px;
}
.header-background-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  height: 150px;
  margin-top: 0;
}
.header-logo-and-heading-container {
  display: flex;
}
.header-buttons-container {
  display: flex;
  align-items: center;
}
